@mixin breakpoint($width) {
  @if $width == small {
    @media (min-width: 641px) {
      @content;
    }
  }
  @else if $width == medium {
    @media (min-width: 781px) {
      @content;
    }
  }
}

@mixin gradient-line($position, $color) {
  position: relative;

  &:after {
    background-image: linear-gradient(to right, rgba($color, 0), $color, rgba($color, 0));
    content: "";
    left: 0;
    position: absolute;
    right: 0;

    @if $position == middle {
      height: 3px;
      margin-top: -1px;
      top: 50%;
      z-index: -1;
    } @else if $position == bottom {
      bottom: 0;
      height: 2px;
    }
  }
}
